/* GLOBAL VARIABLES 
$screen-s: 600px
$screen-m: 768px
$screen-l: 992px
$screen-xl: 1200px

$dark-theme-color: #542E71
$primary-text-color:#FF7600
$yellow: #FFC93C
$light-green: #66DE93
$light-blue: #64DFDF
$lighter-blue: #DBF6E9
$light-purle:#867AE9
        
$light-theme-color: #EEEBDD
$red: #CD113B
$dark-red: #810000
$coal-black: #1B1717
$grey: #A9A9A9


/* COMMON STYLING 

*
    cursor: url(circle-cursor.png) 15 15, auto

body 
    background: #EEEBDD
    color: #CD113B

h1
    font-family: "Press Start 2P"

h2, h3, h4, h5, h6, p
    font-family: "Gruppo"

.absolute 
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: black
    z-index: 1

.loader-wrapper 
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    transition: "all 0.25s ease-in-out"
    // background-color: #191919
    // color: #dbd8d6
      
#main-container
    height: 100%

//LANDING PAGE: intro 
.section.wrapper     
    &.intro, &.about
        height: 100vh
        max-width: 75vw
        margin: 0 auto

.intro-text 
    span
        font-family: "Press Start 2P"

    .split-text span 
        font-family: "Gruppo"

        span 
            position: relative
            bottom: -1em
            opacity: 0
            animation: move-text 0.05s forwards
        
.intro-animation-container 
    svg     
        border: 10px solid $coal-black
        border-radius: 50%
        animation: show-animation 4s ease-in

//LANDING PAGE: projects
.projects.section.wrapper 
    background-color: #d53f41
    margin-left: -5vw
    margin-right: -5vw

.project-teaser-counter
    position: absolute
    top: 10%
    left: 100px
    z-index: 1
    mix-blend-mode: difference
    line-height: 16px
    color: #dbd8d6  
//   font-family: "Bai Jamjuree"
//   font-weight: 600

    font-size: 16px
    -webkit-font-smoothing: antialiased
    display: inline-block

    .divider 
        content: ""
        background-color: white
        width: 6.25vw
        margin: 7px 10px
        height: 1px
        display: inline-block
  


.projects-container
    height: 80vh
    padding: 10vh 0
    width: 400vw
    display: flex
    flex-wrap: nowrap

    .project-teaser 
        width: 100%
        height: 100%
        position: relative
        will-change: transform
  

    .project-info
        position: absolute
        bottom: 10%
        z-index: 1
        transform: translateX(-20%)
        color: #dbd8d6
        color: white

        .gallery-info-header 
            line-height: 6vw
            // font-family: "Bai Jamjuree"
            // font-weight: 60         
            font-size: 6vw
            -webkit-font-smoothing: antialiased
    

        .gallery-info-name 
            position: relative
            line-height: 6vw
            color: transparent
            // font-family: "Bodoni Moda"
            // font-weight: 400
            font-size: 6vw
            -webkit-font-smoothing: antialiased
            -webkit-text-stroke: 2px #dbd8d6
    

        .gallery-info-summary 
            position: relative
            line-height: 24px
            // font-family: "Bai Jamjuree"
            // font-weight: 400
            font-size: 24px
            -webkit-font-smoothing: antialiased
            margin-top: 2vh
    
  
    .project-wrapper
        aspect-ratio: 16/9
        height: 100%
        display: grid
        grid-template-columns: 20vw 1fr 200px
        width: 100vw

        &.is-reveal 
            .project-image
                transform: scale(1)
                filter: none
      
    
  
    .project-image
        background-size: cover
        background-position: center
        transform-origin: center
        width: 100%
        height: 100%
        will-change: transform
        transform: scale(0.7)
        transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1)
        filter: grayscale(100%) sepia(20%) brightness(80%)
        // background-image: url('./images/config1.png')
  

.about.section 
    display: flex
    justify-content: center
    text-align: center
    padding: 10%
    p 
        font-size: 50px
        opacity: 0
        width: 100%
        margin: 0 auto

        &.is-reveal 
            opacity: 1

    
.lineParent
    overflow: hidden
    .lineChildren
        transform: translate(0, 500px)
  
  


//animation
@keyframes show-animation
    0% 
        opacity: 0
    
    100% 
        opacity: 1   
    
@keyframes move-text 
    0% 
        bottom: -0.5em
        opacity: 1
	
	
    50% 
        bottom: 0.5em
	

    100% 
        bottom: 0
        opacity: 1
	
 

/* RESPONSIVE 
// Mobile
@media (max-width: $screen-s)
    .intro.section.wrapper 
        display: flex
        flex-direction: column
        align-items: center
        text-align: center

    .intro-text 
        span
            font-size: 20px
        h2
            font-size: 15px    

    .intro-animation-container       
        display: none 

// Desktop 
@media (min-width: $screen-s)

    .intro.section.wrapper 
        display: flex
        align-items: center
        justify-content: space-between 

    .intro-animation-container 
        max-width: 500px
        max-height: 500px

    .intro-text 
        max-width: 75%
        span
            font-size: 30px


@media (min-width: $screen-l)
    .intro-text 
        max-width: 50%
        span
            font-size: 40px

@media (min-width: $screen-xl)              
    .intro-text 
        span
            font-size: 50px