/* GLOBAL VARIABLES 
$screen-xs: 480px    
$screen-s: 600px
$screen-m: 768px
$screen-l: 992px
$screen-xl: 1200px
        
$light-theme-color: #EEEBDD
$red: #CD113B
$dark-red: #810000
$coal-black: #1B1717



/* COMMON STYLING 

*
    cursor: url(circle-cursor.png) 15 15, auto

body 
    background: #EEEBDD
    color: #CD113B
    margin: 0px
    width: 100%
    min-height: 100%
    overflow: hidden

h1
    font-family: "Press Start 2P"
    margin: 1rem 0 !important

h2, h3, h4, h5, h6, p
    font-family: "Gruppo"

h2        
    margin: 0.5rem 0 !important    

a
    font-family: "Bai Jamjuree"     
    box-shadow: none
    text-decoration: none   

    &:hover
        font-style: italic   
        text-decoration: underline

a, button    
    cursor: pointer    

.absolute 
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
  
.loader-wrapper 
    cursor: none
    display: flex
    align-items: center
    justify-content: center
    transition: "all 0.25s ease-in-out"

    .split-text
        span
            font-family: "Press Start 2P"
            text-stroke: 2px $red
            -webkit-text-stroke: 2px $red
            color: $light-theme-color
            font-size: 50px
            letter-spacing: 25px

#main-container
    height: 100%

//LANDING PAGE: Menubar
#menu-bar
    position: absolute
    top: 0 
    left: 2vw
    right: 2vw
    width: 96vw
    height: 10vh
    display: flex
    justify-content: space-between
    align-items: center

    .drop-down-menu
        position: absolute
        right: 0
        display: flex
        flex-direction: column
        align-items: flex-end

        button
            margin-top: 5px
            width: max-content

            a
                color: $red

            &:hover
                a
                    color: white                   

    .logo
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(2, 1fr)
        width: 50px
        height: 50px    
        text-align: center

        p   
            font-weight: bolder
            margin-bottom: 0 

    & > *
        font-family: "Bai Jamjuree"
    

    .sections-summary
        display: flex
        align-items: center
        p 
            margin-bottom: 0 
            a
                color: $red
                margin: 0 15px

        .section-number
            color: $coal-black
        

//LANDING PAGE: intro 
.section.wrapper     
    &.intro
        height: 100vh
        max-width: 75vw
        margin: 0 auto

.intro-text 
    span
        font-family: "Press Start 2P"

.split-text span 
    font-family: "Gruppo"

    span 
        position: relative
        bottom: -1em
        opacity: 0
        animation: move-text 0.05s forwards
        
.intro-animation-container 
    svg     
        border: 10px solid $coal-black
        border-radius: 50%
        animation: show-animation 4s ease-in

//LANDING PAGE: projects
.projects.section.wrapper 
    overflow: hidden
      
.projects-container
    display: flex
    flex-direction: column
    justify-content: space-between

    .project-teaser-counter
        position: absolute
        top: 5%
        left: 100px
        z-index: 1
        mix-blend-mode: difference
        line-height: 16px
        color: $red 
        font-size: 16px
        -webkit-font-smoothing: antialiased
        display: inline-block

        .divider 
            content: ""
            background-color: $red
            width: 6.25vw
            margin: 7px 10px
            height: 1px
            display: inline-block

    .projects-wrapper
        width: 100%
        height: 100%
        display: flex
        flex-wrap: nowrap

        .project-wrapper
            width: 100%
            height: 100%
            margin: 5% 

            &.is-reveal 
                .project-image
                    transform: scale(1)
                    filter: none

        .project-techstack
            display: flex
            .tech
                animation: none
                width: 3%
            .tech-logo
                height: 30px
                width: 30px

        .project-teaser 
            width: 80vw
            position: relative
            will-change: transform
            display: flex
            align-items: center

            .project-info
                padding: 0 35% 0 5% 
                position: relative
                color: white
                background-color: $red
                width: 60vw
                height: 60vh

                .project-info-title
                    font-style: italic

                .project-info-summary
                    font-weight: bolder

                .project-link a
                    cursor: pointer
                    color: white

                    &::after
                        content: ' >'
                        font-weight: 900 

                       
            .project-image
                position: absolute
                aspect-ratio: 16/9
                width: 50%
                height: auto
                right: 0
                z-index: 2
                will-change: transform
                transform: scale(0.7)
                transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1)
                filter: grayscale(100%) sepia(20%) brightness(80%)
    
    .github-link 
        color: $red
        text-decoration: none


// LANDING PAGE: about
.about.section
    // position: absolute
    width: 99vw
    height: 100vh
    
    .about-me-title
        color: $coal-black
        text-decoration: underline
.tech    
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    animation: moveUpDown 3s linear infinite

    .tech-logo
        width: 25%
        height: auto
        // width: 50px
        // height: 50px
        object-fit: contain

    .tooltip 
        visibility: hidden
        position: relative
        width: max-content
        z-index: 1
        background: $coal-black
        opacity: 50%
        color: white
        border-radius: 5px
        padding: 2px 5px

    &:hover
        .tooltip
            // display block make sure that the tooltip show on hover in chrome
            display: block
            visibility: visible
            

    
.lineParent
    overflow: hidden
    .lineChildren
        transform: translate(0, 500px)
  
#footer
    position: absolute
    left: 0  
    width: 100%
    text-align: center
    background: $red

    p
        margin-bottom: 0
        color: white
        font-weight: bolder

//animation
@keyframes show-animation
    0% 
        opacity: 0
    
    100% 
        opacity: 1   
    
@keyframes move-text 
    0% 
        bottom: -0.5em
        opacity: 0
	
	
    50% 
        bottom: 0.5em
	

    100% 
        bottom: 0
        opacity: 1

@keyframes moveUpDown
    0%, 100% 
        bottom: 0
  
    50% 
        bottom: 10px


/* RESPONSIVE 
// Mobile
@media (max-width: $screen-xs)   
    #menu-bar
        .section-anchor
            display: none
  
        p, button
            font-size: 10px

    .contact-button
        border: 2px solid $red
        color: $red
        border-radius: 5px
        background: $light-theme-color

        &:hover
            background: $red
            color: white          

    .project-teaser-counter
        top: 0 !important

    .intro.section.wrapper 
        display: flex
        justify-content: center
        align-items: center

    .intro-animation-container       
        display: none   

    .project-teaser
        .project-info
            overflow-y: scroll
        h1
            font-size: 20px    
        h2
            font-size: 15px
        p
            font-size: 10px      

        .project-link a
            font-size: 10px

    .about.section
        display: flex
        align-items: center
        justify-content: center

    .tech
        display: none

    .background-grid 
        text-align: center    

    #summary
        font-size: 20px  
        .objective
            font-family: "Bai Jamjuree"
            font-weight: bolder
        
        &.is-reveal 
            opacity: 1


@media (min-width: $screen-xs)
    #menu-bar
        p, button
            font-size: 8px
        .contact-button
            border: 2px solid $red
            color: $red
            border-radius: 5px
            background: $light-theme-color

            &:hover
                background: $red
                color: white          

    .intro-animation-container  
        width: 200px
        height: 200px 

    .intro.section.wrapper 
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center

    .intro-text 
        span
            font-size: 20px
        h2
            font-size: 15px      
      
    .project-teaser
        .project-info
            overflow-y: scroll
        h1
            font-size: 20px    
        h2
            font-size: 15px
        p
            font-size: 10px      

        .project-link a
            font-size: 10px

    .background-grid 
        display: grid
        grid-template-columns: repeat(9, 1fr)
        grid-template-rows: repeat(6, 1fr)
        position: relative
        margin: 0 auto
        width: 100%
        height: 100%

    #summary
        text-align: center
        opacity: 0
        grid-area: 3/3/5/8
        font-size: 2vw
        .objective
            font-family: "Bai Jamjuree"
            font-weight: bolder
        
        &.is-reveal 
            opacity: 1
      

// Desktop 
@media (min-width: $screen-s)
    #menu-bar
        p, button
            font-size: 11px 

    .intro-text 
        max-width: 75%
        span
            font-size: 30px
    
    .project-teaser
        .project-info
            overflow-y: scroll
            display: flex
            flex-direction: column
            justify-content: center
        h1
            font-size: 20px    
        h2
            font-size: 15px
        p
            font-size: 10px   
            
        .project-link a
            font-size: 15px  

@media (min-width: $screen-m)    
    #menu-bar
        p, button
            font-size: 15px       

@media (min-width: $screen-l)
    .intro.section.wrapper 
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between

    .intro-animation-container 
        width: 400px
        height: 400px

    .intro-text 
        max-width: 50%
        span
            font-size: 30px

    .project-teaser
        .project-info
            overflow-y: hidden
        h1
            font-size: 30px    
        h2
            font-size: 25px
        p
            font-size: 20px   
    #summary
        font-size: 20px          


@media (min-width: $screen-xl)              
    .intro-text 
        span
            font-size: 40px
    #summary
        font-size: 25px         